<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      name="description"
      content="Daily news updates of Bussiness News , Tech news, General news"
    />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>{% block title %} Daily news updates.com{% endblock title %} </title>
    <link rel="shortcut icon" type="image/png" href="./static/img/ms-icon-150x150.png">
  </head>
  <body>
    <nav d class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Daily News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="bussiness">Bussiness news</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news">Tech news</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Entertainment">Entertainment</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="sports">Sports</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="health">Health</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Contact">Contact Us</a>
        </li>

      </ul>


    </div>
  </div>
</nav>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T70SS0HYH1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T70SS0HYH1');
</script>
<!-- Remove the container if you want to extend the Footer to full width. -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role= "alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    {% block body %} {% endblock body %}
{%  block footer %}
    <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0);">

    <a class="text-white" href="/" style="text-decoration:none;"> © 2020 Copyright DailyNews.com</a>
  </div>
  <!-- Copyright -->
</footer>
    {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

