body {
    background-color: black
}
.email{
    margin: 2%;
    padding: 2%;
}
.password{
    margin: 2%;
    padding: 2%;
    width: 5%;
}

@media screen and (max-width: 400px){
    .card{
        width: 263px;
    }
    .g-recaptcha{
        width: 50px;
    }
}
 